.field {
    margin: 0 40px 20px 40px;
    display: flex;
    flex-flow: column;

}

.label{
    color: orange;
    font-size: 16px;
    font-family: sans-serif;
    margin-bottom: 5px;
}


input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    font-size: 26px;
    border: solid 1px #eee;
    border-radius: 4px;
    outline: none;
    margin-bottom: 4px;
    background-color: #24292f;
    color: white;
}

.error{
    color: orangered;
    font-weight: bold;
}


@media screen and (max-width: 1200px) {
    
    input, textarea {font-size: 1.6em;}
}

@media screen and (max-width: 900px) {
    
    input, textarea {font-size: 1.2em;}
}


@media screen and (max-width: 600px) {
    input, textarea {font-size: 0.9em;}
}

