.LayoutContact {
    border: 0.1px solid white;
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 40px 0;
    align-items: center;
    padding: 15px 20px;
    
}

.ContactOptions {
    display: flex;
    flex-flow: row;
}


.Option {
    padding: 0 20px;
    /* border-right: 0.5px solid orange; */
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
}


.Option svg{
    margin: 10px;
    color: #aaa;
}

.Option text{
    color: white;
    font-family: sans-serif;
}

.BorderRight {
    border-right: 0.5px solid orange
}
.BorderLeft {
    border-left: 0.5px solid orange
}


@media screen and (max-width: 600px) {
    .ButtonStyle {font-size: 1em;}
    .Option{padding: 10px 0;}
    .ContactOptions {
        flex-flow: column;
    }
    .Option svg{
        font-size: 2rem;
        color: #aaa;
    }
    .BorderRight {
        border-right: none;
        border-bottom: 0.5px solid orange
    }
    .BorderLeft{
        border-left: none;
        border-top: 0.5px solid orange
    }


}

form {
    display: flex;
    flex-flow: column;
}


.ContactFormLayout{
    display: flex;
    width: 75%;
    height: 100%;
    margin: 50px 0;
    justify-content: center;
    flex-flow: column;
}